<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultThemeLayout.html}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link media="all" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.css">
</head>

<body>

<div layout:fragment="content">
	<main>
		<header>
			<h2>Applications Status</h2>
		</header>
		<p>
			In the sections below you can see the status, if a application is online or offline. In case there is no
			further information, then none of the applications are online.
		</p>
		<section th:each="voteExecution : ${voteExecutions}">
			<header>
				<h2 th:text="${voteExecution.question}"></h2>
			</header>
			<article>
				<header>
					<h3>Trustees</h3>
				</header>
				<table class="applicationStatus">
					<thead>
					<tr>
						<th>Trustee Number</th>
						<th>Status</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="trustee : ${voteExecution.trustees}">
						<td th:text="${trustee.getTrusteeOrder()}"></td>
						<td th:switch="${trustee.trustee.isRunning()}">
							<i th:case="${true}" class='fa fa-check fa-lg'></i>
							<i th:case="${false}" class='fa fa-times fa-lg'></i>
						</td>
					</tr>
					</tbody>
				</table>
			</article>
			<article>
				<header>
					<h3>Bulletin Boards</h3>
				</header>
				<table class="applicationStatus">
					<thead>
					<tr>
						<th>Bulletin Number</th>
						<th>Status</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="bulletinBoard : ${voteExecution.bulletinBoards}">
						<td th:text="${bulletinBoard.id}"></td>
						<td th:switch="${bulletinBoard.bulletinBoard.isRunning()}">
							<i th:case="${true}" class='fa fa-check fa-lg'></i>
							<i th:case="${false}" class='fa fa-times fa-lg'></i>
						</td>
					</tr>
					</tbody>
				</table>
			</article>
		</section>
	</main>
</div>

</body>
</html>