<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultThemeLayout.html}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link media="all" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.css">
</head>

<body>

<div layout:fragment="content">
	<main>
		<header>
			<h2>Elections</h2>
		</header>
		<p>
			The elections listed, if available, in this section, they are divided in the upcoming and the current
			elections.
		</p>
		<section>
			<article th:if="${voteExecutionsStarted?.isEmpty()} == false">
				<header>
					<h3>Upcoming Elections</h3>
				</header>
				<table class="applicationStatus">
					<thead>
					<tr>
						<th>Id</th>
						<th>Vote</th>
						<th>Choices</th>
					</tr>
					</thead>
					<tbody th:each="vote : ${voteExecutionsStarted}">
					<tr>
						<td th:text="${vote.id}"></td>
						<td th:text="${vote.question}"></td>
						<td>
							<ul th:each="choice : ${vote.choices}">
								<li th:text="${choice.option}"></li>
							</ul>
						</td>
					</tr>
					</tbody>
				</table>
			</article>
			<article th:if="${voteExecutionsOpen?.isEmpty()} == false">
				<header>
					<h3>Current Elections</h3>
				</header>
				<table class="applicationStatus">
					<thead>
					<tr>
						<th>Id</th>
						<th>Vote</th>
						<th>Choices</th>
					</tr>
					</thead>
					<tbody th:each="vote : ${voteExecutionsOpen}">
					<tr>
						<td th:text="${vote.id}"></td>
						<td th:text="${vote.question}"></td>
						<td>
							<ul th:each="choice : ${vote.choices}">
								<li th:text="${choice.option}"></li>
							</ul>
						</td>
					</tr>
					</tbody>
				</table>
			</article>
		</section>
	</main>
</div>

</body>
</html>