<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/defaultThemeLayout.html}" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<link media="all" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.1/dist/Chart.min.css">
	<script type="text/javascript" th:src="@{/resources/js/Chart.min.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/resultCharts.js}"></script>
</head>

<body>

<div layout:fragment="content">
	<main>
		<header>
			<h2>Results</h2>
		</header>
		<p>
			The results are of the current vote.
		</p>
		<section id="resultContent">
			<article th:each="result : ${resultData}">
				<header>
					<h3 th:text="${result.voteQuestion}"></h3>
				</header>
				<canvas th:id="'chart' + ${result.id}" width="800" height="450"></canvas>
			</article>
		</section>
	</main>
</div>

</body>
</html>