* {
  font-family: sans-serif;
}

.formRow {
  padding: 10px;
}

.formRow:nth-child(odd) {
  background: #CCC;
}

.propertyName {
  display: inline-block;
  vertical-align: top;
  width: 250px;

  font-weight: bold;
}

.propertyValue {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 260px);
}

.propertyValue input.choice {
  display: block;
  margin: 5px 0px;
  width: 500px;
}

.inline {
  display: inline-block;
}

.bordered {
  margin-right: 10px;
  border-color: #a7a3a3;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px;
}

.decryptionState td {
  height: 2px;
  background-color: red;
}

.decryptionState td.decrypted {
  background-color: green;
}