h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 0.8rem;
}

main > header > h2 {
  font-size: 1.2rem;
  text-align: center;
}

article > header > h3 {
  font-size: 0.7rem;
  text-decoration: underline dashed;
}

main > section > header > h2 {
  font-size: 1.0rem;
  text-decoration: underline;
}


.grid-main-container {
  display: grid;
  grid-template-columns: 1fr 16rem 1fr;
  grid-row-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dummy-menu-left, .dummy-menu-right, .grid-menu-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-width: thin;
}

main {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-width: thin;
}

.dummy-menu-left {
  grid-column: 1 / 2;
}

.dummy-menu-right {
  grid-column: 3 / 4;
}

.grid-menu-container {
  grid-column: 2 / 3;
  grid-row-gap: 0.6rem;
  grid-template-columns: 1fr;
}

.grid-menu-container > header, .grid-menu-container > nav {
  place-self: center;
}

.header-elements > * {
  text-align: center;
}

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav > ul > li {
  list-style: none;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

nav > ul > li > a {
  display: inline-block;
  width: 100%;
  text-align: center;
}

footer {
  margin-top: 0.2rem;
  font-size: 0.5rem;
}
