@media (min-width: 48em) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.0rem;
  }

  main > header > h2 {
    font-size: 1.8rem;
  }

  article > header > h3 {
    font-size: 0.8rem;
  }

  main > section > header > h2 {
    font-size: 1.2rem;
  }

  .grid-main-container {
    grid-template-columns: 1fr 8fr 1fr;
  }

  .dummy-menu-left, .dummy-menu-right, .grid-menu-container {
  }

  .dummy-menu-left, .dummy-menu-right {
    grid-row: 3 / 4;
  }

  .dummy-menu-left {
    grid-column: 1 / 2;
  }

  .dummy-menu-right {
    grid-column: 3 / 4;
  }

  nav {
    margin-top: 3rem;
    justify-items: center;
  }

  nav > ul {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  nav > ul > li {
    margin: 0rem 0.1rem;
  }
}
