body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input[type=submit], button[type=submit] {
  width: 100%;

  background: #FFFFFF;
  border-width: medium;
  border: solid;
  height: $button-height-small;

  &:hover {
    border-width: medium;
    border: dashed;
  }

  &:active {
    border-width: thick;
    border: dashed;
  }
}

.linkBox {
  &:visited {
    color: black;
  }

  &:link {
    color: black;
  }
}

nav > ul > li > a, main > p > a {
  width: 100%;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border-color: black;

  background: #FFFFFF;
  border-width: medium;
  border: solid;

  &:hover {
    border-width: medium;
    border: dashed;
  }

  &:active {
    border: thick dashed;
  }

  &:visited {
    border-color: black;
    text-decoration: none;
    color: black;
  }

  &:link {
    border-color: black;
    text-decoration: none;
    color: black;
  }
}

textarea {
  width: 100%;
  resize: none;

  height: $button-height-medium;

  &:disabled {
    // fix for chrome
    background: #FFFFFF;

    color: #000000;
  }
}

.applicationStatus {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.applicationStatus td, .applicationStatus th {
  border: 1px solid #ddd;
  padding: 0.15rem;
}

.applicationStatus tr:nth-child(even) {
  background-color: #f2f2f2;
}

.applicationStatus tr:hover {
  background-color: #ddd;
}

.applicationStatus th {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: left;
  background-color: #000000;
  color: white;
}
