@media (min-width: 30em) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
  .grid-main-container {
    grid-template-columns: 1fr 24rem 1fr;
  }

  .dummy-menu-left, .dummy-menu-right, .grid-menu-container {
  }

  .dummy-menu-left, .dummy-menu-right {
    grid-row: 3 / 4;
  }

  .dummy-menu-left {
    grid-column: 1 / 2;
  }

  .dummy-menu-right {
    grid-column: 3 / 4;
  }

  .grid-menu-container {
    grid-gap: 0.3rem;
    grid-template-columns: 1fr;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
  }

  nav > ul > li {
    margin: 0.2rem 0.2rem;
  }
}
