<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/minimalLayout.html}">
<head>
    <script type="text/javascript" th:src="@{/resources/js/moment.min.js}"></script>
</head>
<body layout:fragment="content">

<header class="header-elements" th:switch="${vote != null}">
	<h1 th:case="${false}">Add Vote</h1>
	<h1 th:case="${true}">Edit Vote</h1>
</header>

<main>
	<form id="addVote" method="post" th:action="${vote == null}?'/admin/addVote':'/admin/edit/'+${vote?.id}">
		<div class="formRow">
			<div class="propertyName"><label for="question">question</label></div>
			<div class="propertyValue" th:switch="${vote != null}">
				<input th:case="${false}" type="text" name="question" id="question"/>
				<div th:case="${true}">
					<p th:text="${vote?.question}"></p>
					<input type="hidden" name="question" id="question" th:value="${vote?.question}"/>
				</div>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName">choices</div>
			<div class="propertyValue" th:switch="${vote != null}">
				<input th:case="${false}" type="text" name="choices[]" class="choice"/>
				<ul th:case="${true}">
					<li th:each="choice : ${vote?.choices}">
						<p th:text="${choice.option}"></p>
						<input type="hidden" name="choices[]" class="choice" th:value="${choice.option}"/>
					</li>
				</ul>
			</div>
		</div>

		<div class="formRow">
			<div class="propertyName"><label for="trustees">trustees</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[trustees]" id="trustees" th:value="${vote != null} ? ${vote?.voteParams.trustees} : 3"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="bulletinBoards">bulletinBoards</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[bulletinBoards]" id="bulletinBoards" th:value="${vote != null} ? ${vote?.voteParams.bulletinBoards} : 3"/>
			</div>
		</div>

		<div class="formRow">
			<div class="propertyName"><label for="k">k</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[k]" id="k" th:value="${vote != null} ? ${vote?.voteParams.k} : 1"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="ksStdev">ks_stdev</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[ksStdev]" id="ksStdev" th:value="${vote != null} ? ${vote?.voteParams.ksStdev} : 2.44e-5"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="bkStdev">bk_stdev</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[bkStdev]" id="bkStdev" th:value="${vote != null} ? ${vote?.voteParams.bkStdev} : 3.29e-10"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="maxStdev">max_stdev</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[maxStdev]" id="maxStdev" th:value="${vote != null} ? ${vote?.voteParams.maxStdev} : 0.0078125"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="sn">sn</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[sn]" id="sn" th:value="${vote != null} ? ${vote?.voteParams.sn} : 500"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="hLWE">hLWE</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[hLWE]" id="hLWE" th:value="${vote != null} ? ${vote?.voteParams.hLWE} : 0"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="stdevLWE">stdevLWE</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[stdevLWE]" id="stdevLWE" th:value="${vote != null} ? ${vote?.voteParams.stdevLWE} : 0.0078125"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="bksBit">Bksbit</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[bksBit]" id="bksBit" th:value="${vote != null} ? ${vote?.voteParams.bksBit} : 2"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="dks">dks</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[dks]" id="dks" th:value="${vote != null} ? ${vote?.voteParams.dks} : 8"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="stdevKS">stdevKS</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[stdevKS]" id="stdevKS" th:value="${vote != null} ? ${vote?.voteParams.stdevKS} : 2.44e-5"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="ln">ln</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[ln]" id="ln" th:value="${vote != null} ? ${vote?.voteParams.ln} : 1024"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="hRLWE">hRLWE</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[hRLWE]" id="hRLWE" th:value="${vote != null} ? ${vote?.voteParams.hRLWE} : 0"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="stdevRLWEkey">stdevRLWEkey</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[stdevRLWEkey]" id="stdevRLWEkey" th:value="${vote != null} ? ${vote?.voteParams.stdevRLWEkey} : 3.29e-10"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="stdevRLWE">stdevRLWE</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[stdevRLWE]" id="stdevRLWE" th:value="${vote != null} ? ${vote?.voteParams.stdevRLWE} : 3.29e-10"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="stdevRGSW">stdevRGSW</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[stdevRGSW]" id="stdevRGSW" th:value="${vote != null} ? ${vote?.voteParams.stdevRGSW} : 3.29e-10"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="bgBit">Bgbit</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[bgBit]" id="bgBit" th:value="${vote != null} ? ${vote?.voteParams.bgBit} : 4"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="dg">dg</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[dg]" id="dg" th:value="${vote != null} ? ${vote?.voteParams.dg} : 8"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="stdevBK">stdevBK</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[stdevBK]" id="stdevBK" th:value="${vote != null} ? ${vote?.voteParams.stdevBK} : 3.29e-10"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="generatedKeys">generatedKeys</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[generatedKeys]" id="generatedKeys" th:value="${vote != null} ? ${vote?.voteParams.generatedKeys} : 8192"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="encryptionKeys">encryptionKeys</label></div>
			<div class="propertyValue">
				<input type="number" name="voteParams[encryptionKeys]" id="encryptionKeys" th:value="${vote != null} ? ${vote?.voteParams.encryptionKeys} : 2"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="voteStart">voteStart</label></div>
			<div class="propertyValue">
				<input type="datetime-local" name="voteParams[voteStart]" id="voteStart" data-offset="1" th:value="${vote != null} ? ${vote?.voteParams.getVoteStartText()}"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"><label for="voteEnd">voteEnd</label></div>
			<div class="propertyValue">
				<input type="datetime-local" name="voteParams[voteEnd]" id="voteEnd" data-offset="2" th:value="${vote != null} ? ${vote?.voteParams.getVoteEndText()}"/>
			</div>
		</div>
		<div class="formRow">
			<div class="propertyName"></div>
			<div class="propertyValue">
				<button class="submit" type="submit" th:text="${vote == null}?'Create':'Save'"></button>
			</div>
		</div>
	</form>
</main>
<footer>
	Be careful with you choices ...
</footer>
</body>
</html>