<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/minimalLayout.html}">
<head>

</head>
<body layout:fragment="content">
<header class="header-elements">
	<h1>Admin Main Page</h1>
</header>

<main>
	<p>
		<a href="/admin/addVote">add Vote</a>
	</p>

	<header th:if="${votes?.isEmpty() == false}">
		<h2>Votes</h2>
	</header>
	<table class="applicationStatus" th:if="${votes?.isEmpty() == false}">
		<thead>
		<tr>
			<th>Id</th>
			<th>Vote</th>
			<th>Details</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="vote : ${votes}">
			<td th:text="${vote.id}"></td>
			<td th:text="${vote.question}"></td>
			<td><a class="linkBox" th:href="${'/admin/votes/' + vote.id}">show details</a></td>
		</tr>
		</tbody>
	</table>

	<header th:if="${trustees?.isEmpty() == false}">
		<h2>Trustees</h2>
	</header>
	<table class="applicationStatus" th:if="${trustees?.isEmpty() == false}">
		<thead>
		<tr>
			<th>Id</th>
			<th>apiKey</th>
			<th>hostname</th>
			<th>port</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="trustee : ${trustees}">
			<td th:text="${trustee.id}"></td>
			<td th:text="${trustee.apiKey}"></td>
			<td th:text="${trustee.hostname}"></td>
			<td th:text="${trustee.port}"></td>
		</tr>
		</tbody>
	</table>

	<header th:if="${bulletinBoards?.isEmpty() == false}">
		<h2>Bulletin Boards</h2>
	</header>
	<table class="applicationStatus" th:if="${bulletinBoards?.isEmpty() == false}">
		<thead>
		<tr>
			<th>Id</th>
			<th>apiKey</th>
			<th>hostname</th>
			<th>port</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="bulletinBoard : ${bulletinBoards}">
			<td th:text="${bulletinBoard.id}"></td>
			<td th:text="${bulletinBoard.apiKey}"></td>
			<td th:text="${bulletinBoard.hostname}"></td>
			<td th:text="${bulletinBoard.port}"></td>
		</tr>
		</tbody>
	</table>
</main>
<footer>
	With great Power comes great Responsibility ...
</footer>
</body>
</html>