<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<meta charset="UTF-8">
	<title>Coordinator</title>

	<link rel="stylesheet" media="all" th:href="@{/resources/css/style.css}">
</head>
<body>
<h1>Test</h1>
</body>
</html>