<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/minimalLayout.html}">
<head>

</head>
<body layout:fragment="content">
<header class="header-elements">
	<h1>Vote Details</h1>
</header>

<main>
	<p>
		<a th:if="${vote?.isStarted() == false}" th:href="'../edit/' + ${vote?.id}">Edit Vote</a>
		<a th:if="${vote?.isStarted() == false}" th:href="'../startVote/' + ${vote?.id}">Start Vote</a>
		<a th:if="${vote?.isStarted() == true && vote?.isDone() == false}" th:href="'../endVote/' + ${vote?.id}">End Vote</a>
	</p>
	<div class="formRow">
		<div class="propertyName">Id</div>
		<div class="propertyValue" th:text="${vote?.id}"></div>
	</div>
	<div class="formRow">
		<div class="propertyName">Question</div>
		<div class="propertyValue" th:text="${vote?.question}"></div>
	</div>
	<div class="formRow">
		<div class="propertyName">choices</div>
		<ul class="propertyValue">
			<li th:each="choices : ${vote?.choices}" th:text="${choices.option}"></li>
		</ul>
	</div>
	<div class="formRow">
		<div class="propertyName">started</div>
		<div class="propertyValue" th:text=" ${vote?.isStarted()}">
		</div>
	</div>
	<div class="formRow">
		<div class="propertyName">voteParams</div>
		<div class="propertyValue" th:if="${vote != null && vote?.voteParams != null}">
			<table>
				<tr>
					<th>Param</th>
					<th>Value</th>
				</tr>

				<tr>
					<td>trustees</td>
					<td th:text="${vote?.voteParams.trustees}"></td>
				</tr>
				<tr>
					<td>bulletinBoards</td>
					<td th:text="${vote?.voteParams.bulletinBoards}"></td>
				</tr>
				<tr>
					<td>counterLength</td>
					<td th:text="${vote?.voteParams.counterLength}"></td>
				</tr>
				<tr>
					<td>k</td>
					<td th:text="${vote?.voteParams.k}"></td>
				</tr>
				<tr>
					<td>ks_stdev</td>
					<td th:text="${vote?.voteParams.ksStdev}"></td>
				</tr>
				<tr>
					<td>bk_stdev</td>
					<td th:text="${vote?.voteParams.bkStdev}"></td>
				</tr>
				<tr>
					<td>max_stdev</td>
					<td th:text="${vote?.voteParams.maxStdev}"></td>
				</tr>
				<tr>
					<td>sn</td>
					<td th:text="${vote?.voteParams.sn}"></td>
				</tr>
				<tr>
					<td>hLWE</td>
					<td th:text="${vote?.voteParams.hLWE}"></td>
				</tr>
				<tr>
					<td>stdevLWE</td>
					<td th:text="${vote?.voteParams.stdevLWE}"></td>
				</tr>
				<tr>
					<td>Bksbit</td>
					<td th:text="${vote?.voteParams.bksBit}"></td>
				</tr>
				<tr>
					<td>dks</td>
					<td th:text="${vote?.voteParams.dks}"></td>
				</tr>
				<tr>
					<td>stdevKS</td>
					<td th:text="${vote?.voteParams.stdevKS}"></td>
				</tr>
				<tr>
					<td>ln</td>
					<td th:text="${vote?.voteParams.ln}"></td>
				</tr>
				<tr>
					<td>hRLWE</td>
					<td th:text="${vote?.voteParams.hRLWE}"></td>
				</tr>
				<tr>
					<td>stdevRLWEkey</td>
					<td th:text="${vote?.voteParams.stdevRLWEkey}"></td>
				</tr>
				<tr>
					<td>stdevRLWE</td>
					<td th:text="${vote?.voteParams.stdevRLWE}"></td>
				</tr>
				<tr>
					<td>stdevRGSW</td>
					<td th:text="${vote?.voteParams.stdevRGSW}"></td>
				</tr>
				<tr>
					<td>Bgbit</td>
					<td th:text="${vote?.voteParams.bgBit}"></td>
				</tr>
				<tr>
					<td>dg</td>
					<td th:text="${vote?.voteParams.dg}"></td>
				</tr>
				<tr>
					<td>stdevBK</td>
					<td th:text="${vote?.voteParams.stdevBK}"></td>
				</tr>
				<tr>
					<td>generatedKeys</td>
					<td th:text="${vote?.voteParams.generatedKeys}"></td>
				</tr>
				<tr>
					<td>encryptionKeys</td>
					<td th:text="${vote?.voteParams.encryptionKeys}"></td>
				</tr>
				<tr>
					<td>voteStart</td>
					<td th:text="${vote?.voteParams.getVoteStartText()}"></td>
				</tr>
				<tr>
					<td>voteEnd</td>
					<td th:text="${vote?.voteParams.getVoteEndText()}"></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="formRow">
		<div class="propertyName">Trustees</div>
		<table class="propertyValue">
			<tr>
				<th>Id</th>
				<th>hostname</th>
				<th>port</th>
				<th>keys</th>
			</tr>
			<tr th:each="trustee : ${vote?.trustees}">
				<td th:text="${trustee.trustee.id}"></td>
				<td th:text="${trustee.trustee.hostname}"></td>
				<td th:text="${trustee.trustee.port}"></td>
				<td th:text="${trustee.lweSamples.size()}"></td>
			</tr>
		</table>
	</div>
	<div class="formRow">
		<div class="propertyName">Bulletin Boards</div>
		<table class="propertyValue">
			<tr>
				<th>Id</th>
				<th>hostname</th>
				<th>port</th>
				<th>results</th>
			</tr>
			<tr th:each="bulletinBoard : ${vote?.bulletinBoards}">
				<td th:text="${bulletinBoard.bulletinBoard.id}"></td>
				<td th:text="${bulletinBoard.bulletinBoard.hostname}"></td>
				<td th:text="${bulletinBoard.bulletinBoard.port}"></td>
				<td>
					<div th:if="${bulletinBoard.bulletinBoardResult != null}">
						<div class="inline" th:each="counter : ${bulletinBoard.bulletinBoardResult.samples}">
							<p th:text="${counter.choices.option}"></p>
							<div th:text="${counter.getResultString()}"></div>
							<table>
								<thead>
								<tr>
									<th th:each="trustee : ${vote?.trustees}" th:text="'Trustee[' + ${trustee.trustee.id} + ']'"></th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="sample : ${counter.mkLweSamples}" class="decryptionState">
									<td th:each="decrypted : ${sample.decrypted}" th:classappend="${decrypted} ? decrypted : not_decrypted"></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</main>
<footer>
	Does it look how it should ...
</footer>
</body>
</html>