<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta content="E-Voting System Team" name="author"/>
		<meta content="HSR" name="publisher"/>
		<meta content="E-Voting System based on MK TFHE" name="description">

		<meta charset="UTF-8">

		<title>Coordinator</title>

		<link media="all" rel="stylesheet" th:href="@{/resources/css/style.css}">
		<link media="all" rel="stylesheet" th:href="@{/resources/css/lightStyle.css}">
	</head>
	<body>
		<div class="grid-main-container">
			<div class="grid-menu-container">

				<header class="header-elements">
					<h1>E-Voting System</h1>
					<h2>Homomorphic Encryption based on MK-TFHE</h2>
				</header>

				<nav>
					<ul>
						<li>
							<a href="/">Main Page</a>
						</li>
						<li>
							<a href="/election">Elections</a>
						</li>
						<li>
							<a href="/results">Results</a>
						</li>
						<li>
							<a href="/clientapplication">Client Application</a>
						</li>
						<li>
							<a href="/applications">Application</a>
						</li>
					</ul>
				</nav>

				<div class="container">
					<div layout:fragment="content">
					</div>
				</div>

				<footer>
					<address>
						HSR Hochschule für Technik Rapperswil
						Oberseestrasse 10
						Postfach 1475
						CH-8640 Rapperswil
					</address>
					<p>
						<a class="linkBox" href="tel:+410552224111">+41 (0)55 222 41 11</a>
						<a class="linkBox" href="mailto:office@hsr.ch">office@hsr.ch</a>
					</p>
					<small>
						FYI, The e-voting system is based on the MK-THFE library.
					</small>
				</footer>
			</div>

		</div>
	</body>
</html>