<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta content="E-Voting System Team" name="author"/>
		<meta content="HSR" name="publisher"/>
		<meta content="E-Voting System based on MK TFHE" name="description">

		<meta charset="UTF-8">

		<title>Coordinator</title>

		<link media="all" rel="stylesheet" th:href="@{/resources/css/style.css}">
		<link media="all" rel="stylesheet" th:href="@{/resources/css/lightStyle.css}">

		<script th:src="@{/resources/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/resources/js/admin.js}"></script>
	</head>
	<body>
		<div class="grid-main-container">
			<div class="grid-menu-container">
				<div layout:fragment="content">
				</div>
			</div>
		</div>
	</body>
</html>