body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

input[type=submit], button[type=submit] {
  width: 100%;
  background: #FFFFFF;
  border-width: medium;
  border: solid;
  height: 2rem; }
  input[type=submit]:hover, button[type=submit]:hover {
    border-width: medium;
    border: dashed; }
  input[type=submit]:active, button[type=submit]:active {
    border-width: thick;
    border: dashed; }

.linkBox:visited {
  color: black; }

.linkBox:link {
  color: black; }

nav > ul > li > a, main > p > a {
  width: 100%;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  border-color: black;
  background: #FFFFFF;
  border-width: medium;
  border: solid; }
  nav > ul > li > a:hover, main > p > a:hover {
    border-width: medium;
    border: dashed; }
  nav > ul > li > a:active, main > p > a:active {
    border: thick dashed; }
  nav > ul > li > a:visited, main > p > a:visited {
    border-color: black;
    text-decoration: none;
    color: black; }
  nav > ul > li > a:link, main > p > a:link {
    border-color: black;
    text-decoration: none;
    color: black; }

textarea {
  width: 100%;
  resize: none;
  height: 8rem; }
  textarea:disabled {
    background: #FFFFFF;
    color: #000000; }

.applicationStatus {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem; }

.applicationStatus td, .applicationStatus th {
  border: 1px solid #ddd;
  padding: 0.15rem; }

.applicationStatus tr:nth-child(even) {
  background-color: #f2f2f2; }

.applicationStatus tr:hover {
  background-color: #ddd; }

.applicationStatus th {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: left;
  background-color: #000000;
  color: white; }

h1 {
  font-size: 1.2rem; }

h2 {
  font-size: 0.8rem; }

main > header > h2 {
  font-size: 1.2rem;
  text-align: center; }

article > header > h3 {
  font-size: 0.7rem;
  text-decoration: underline dashed; }

main > section > header > h2 {
  font-size: 1.0rem;
  text-decoration: underline; }

.grid-main-container {
  display: grid;
  grid-template-columns: 1fr 16rem 1fr;
  grid-row-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.dummy-menu-left, .dummy-menu-right, .grid-menu-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-width: thin; }

main {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-width: thin; }

.dummy-menu-left {
  grid-column: 1 / 2; }

.dummy-menu-right {
  grid-column: 3 / 4; }

.grid-menu-container {
  grid-column: 2 / 3;
  grid-row-gap: 0.6rem;
  grid-template-columns: 1fr; }

.grid-menu-container > header, .grid-menu-container > nav {
  place-self: center; }

.header-elements > * {
  text-align: center; }

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

nav > ul > li {
  list-style: none;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem; }

nav > ul > li > a {
  display: inline-block;
  width: 100%;
  text-align: center; }

footer {
  margin-top: 0.2rem;
  font-size: 0.5rem; }

@media (min-width: 30em) {
  h1 {
    font-size: 2.2rem; }
  h2 {
    font-size: 1.6rem; }
  .grid-main-container {
    grid-template-columns: 1fr 24rem 1fr; }
  .dummy-menu-left, .dummy-menu-right {
    grid-row: 3 / 4; }
  .dummy-menu-left {
    grid-column: 1 / 2; }
  .dummy-menu-right {
    grid-column: 3 / 4; }
  .grid-menu-container {
    grid-gap: 0.3rem;
    grid-template-columns: 1fr; }
  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center; }
  nav > ul > li {
    margin: 0.2rem 0.2rem; } }

@media (min-width: 48em) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 1.0rem; }
  main > header > h2 {
    font-size: 1.8rem; }
  article > header > h3 {
    font-size: 0.8rem; }
  main > section > header > h2 {
    font-size: 1.2rem; }
  .grid-main-container {
    grid-template-columns: 1fr 8fr 1fr; }
  .dummy-menu-left, .dummy-menu-right {
    grid-row: 3 / 4; }
  .dummy-menu-left {
    grid-column: 1 / 2; }
  .dummy-menu-right {
    grid-column: 3 / 4; }
  nav {
    margin-top: 3rem;
    justify-items: center; }
  nav > ul {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
  nav > ul > li {
    margin: 0rem 0.1rem; } }

* {
  font-family: sans-serif; }

.formRow {
  padding: 10px; }

.formRow:nth-child(odd) {
  background: #CCC; }

.propertyName {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  font-weight: bold; }

.propertyValue {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 260px); }

.propertyValue input.choice {
  display: block;
  margin: 5px 0px;
  width: 500px; }

.inline {
  display: inline-block; }

.bordered {
  margin-right: 10px;
  border-color: #a7a3a3;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 5px; }

.decryptionState td {
  height: 2px;
  background-color: red; }

.decryptionState td.decrypted {
  background-color: green; }

/*# sourceMappingURL=style.css.map */